.rocket_gradient.svelte-s5y18i.svelte-s5y18i{background:-moz-linear-gradient(
      0% 50% 45deg,
      rgba(142, 79, 159, 1) 0%,
      rgba(86, 110, 180, 1) 50.6%,
      rgba(36, 153, 188, 1) 100%
    );background:-webkit-linear-gradient(
      45deg,
      rgba(142, 79, 159, 1) 0%,
      rgba(86, 110, 180, 1) 50.6%,
      rgba(36, 153, 188, 1) 100%
    );background:-webkit-gradient(
      linear,
      0% 50%,
      100% 50%,
      color-stop(0, rgba(142, 79, 159, 1)),
      color-stop(0.506, rgba(86, 110, 180, 1)),
      color-stop(1, rgba(36, 153, 188, 1))
    );background:-o-linear-gradient(
      45deg,
      rgba(142, 79, 159, 1) 0%,
      rgba(86, 110, 180, 1) 50.6%,
      rgba(36, 153, 188, 1) 100%
    );background:-ms-linear-gradient(
      45deg,
      rgba(142, 79, 159, 1) 0%,
      rgba(86, 110, 180, 1) 50.6%,
      rgba(36, 153, 188, 1) 100%
    );background:linear-gradient(
      135deg,
      rgba(142, 79, 159, 1) 0%,
      rgba(86, 110, 180, 1) 50.6%,
      rgba(36, 153, 188, 1) 100%
    )}div.svelte-s5y18i.svelte-s5y18i:has(section){position:relative;height:40rem !important;overflow:hidden}div.absolute.svelte-s5y18i.svelte-s5y18i{bottom:-10%;right:-0rem}svg#cloud-icon.svelte-s5y18i.svelte-s5y18i{bottom:-20%;right:-10%}.svelte-s5y18i.svelte-s5y18i{user-select:none}div.svelte-s5y18i.svelte-s5y18i:has(h1){height:10rem}h1.svelte-s5y18i.svelte-s5y18i{font-size:4rem;font-weight:900;display:inline-block;text-align:left;margin:0}h4.svelte-s5y18i.svelte-s5y18i{margin:0}p.svelte-s5y18i.svelte-s5y18i{font-size:1.2rem}section.svelte-s5y18i.svelte-s5y18i{height:100%;position:absolute;width:100%;color:white;display:flex;align-items:center}section.svelte-s5y18i>div.svelte-s5y18i{margin-top:-3rem}@media(max-width: 768px){svg#rocket-icon.svelte-s5y18i.svelte-s5y18i{bottom:10rem;right:-10rem;width:80px}svg#cloud-icon.svelte-s5y18i.svelte-s5y18i{bottom:-5%;right:-10%}}article.svelte-1ieekf4.svelte-1ieekf4{margin:3rem 0}.article-detail.svelte-1ieekf4.svelte-1ieekf4{margin:0.8rem 0;padding:1rem 2rem;background-color:var(--color-white);border-radius:5px}.subtitle.svelte-1ieekf4.svelte-1ieekf4{margin:3rem auto}h3.svelte-1ieekf4.svelte-1ieekf4{font-size:1.3rem}p.svelte-1ieekf4.svelte-1ieekf4,h4.svelte-1ieekf4.svelte-1ieekf4{font-size:1.2rem}.rocket-function.svelte-1ieekf4.svelte-1ieekf4{max-width:100%;overflow:hidden}.rocket-function.svelte-1ieekf4>article.svelte-1ieekf4{margin-bottom:5rem}.slogan.svelte-1ieekf4.svelte-1ieekf4{font-weight:normal;margin:0.2rem auto;font-size:1.1rem;transform:translateX(20px)}.feature-header.svelte-1ieekf4.svelte-1ieekf4{display:flex;width:100%;flex-direction:column;margin-bottom:2rem;justify-content:space-between;flex-wrap:wrap}section.svelte-1ieekf4.svelte-1ieekf4{min-height:40rem;display:flex;flex-direction:column;justify-content:center}figure.svelte-1ieekf4.svelte-1ieekf4{margin:3rem}img.svelte-1ieekf4.svelte-1ieekf4{max-width:100%;margin:1rem 0;border-radius:5px;filter:drop-shadow(0px 5px 10px rgba(19, 19, 19, 0.334))}h2.svelte-1ieekf4.svelte-1ieekf4{font-size:2.1rem;font-weight:900}@media(max-width: 768px){section.svelte-1ieekf4.svelte-1ieekf4{padding:1rem 1rem}}